* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
    display: block;
    text-decoration: none;
    color: inherit;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}

@media (min-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 30px 20px;
        font-size: 14px;
    }
}
