<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página com Layout Responsivo</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <main class="container">
        <a href="{{ url_for('informacao_uber') }}" class="card">Uber</a>
        <a href="{{ url_for('uber_filtering') }}" class="card">Acompanhamento - Uber</a>
        <a href="" class="card">Elemento 3</a>
    </main>
</body>
</html>
