
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesas</title>
    <link rel="stylesheet" href="static/diaria_uber.css">
</head>
<body>
    <main class="container">
        <div class="form-card">
            <h1>Despesas</h1>
            <form action="/despesas" method="POST">

                {{ form.data_despesa.label }}
                {{ form.data_despesa }}

                {{ form.descricao_despesa.label }}
                {{ form.descricao_despesa }}

                {{ form.motivo_despesa.label }}
                {{ form.motivo_despesa }}

                {{ form.itens_despesa.label }}
                {{ form.itens_despesa }}

                {{ form.valor_total_despesa.label }}
                {{ form.valor_total_despesa }}

                <button type="submit" class="submit-btn">Enviar</button>
                <a href="{{ url_for('main_page') }}" class="back-mainpage">Voltar</a>
            </form>
        </div>
    </main>
</body>
</html>



