
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organização - Uber</title>
    <link rel="stylesheet" href="static/diaria_uber.css">
</head>
<body>
    <main class="container">
        <div class="form-card">
            <h1>Despesas</h1>
            <form action="/register" method="POST">

                {{ form.data_inicial.label }}
                {{ form.data_inicial }}

                {{ form.descricao_gasto.label }}
                {{ form.descricao_gasto }}

                {{ form.opcao.label }}
                {{ form.opcao }}

                <button type="submit" class="submit-btn">Enviar</button>
                <a href="{{ url_for('main_page') }}" class="back-mainpage">Voltar</a>
            </form>
        </div>
    </main>
</body>
</html>



