<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organização - Uber</title>
    <link rel="stylesheet" href="static/gastos_diaria.css">
</head>
<body>
    <main class="container">
        <div class="form-card">
            <h1>Diária - Gastos</h1>
            <form action="/gastos_diaria" method="POST">

                {{ form.data.label }}
                {{ form.data}}

                {{ form.gasto.label}}
                {{ form.gasto}}

                {{ form.descricao_gasto.label }}
                {{ form.descricao_gasto}}

                <button type="submit" class="submit-btn">Enviar</button>
                <a href="{{ url_for('informacao_uber') }}" class="back-mainpage">Voltar</a>
            </form>
        </div>
    </main>
</body>
</html>
